@import url('./srcry/srcry.css');
@import url('./color_defs/color_defs.css');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    color: orange;
}

.fc-h-event .fc-event-main-frame {
    display: block; /* for make fc-event-title-container expand */
}
