.crumbContainer{
    display: inline-grid;
    align-items: center;
    grid-template-columns: auto var(--micro-2-3);
    width: max-content;
    grid-gap: var(--line-thick);
    font-size: var(--text-caption-1);
    background-color: hsl(var(--blue-800), 1);
    color: hsl(var(--blue-50), 1);
    margin: var(--line-thick);
    padding: var(--line-narrow);
    white-space: break-spaces;
}

.closeButton{
    --stroke: var(--line-fine);
    --stroke-color: hsl(var(--blue-50), 1);
    cursor: pointer;
    place-self: center;
}