.crumbContainer{
    display                : inline-grid;
    place-items            : center;
    grid-template-columns  : auto var( --micro-2-3 );
    width                  : auto;
    max-width              : 98%;
    grid-gap               : var(--line-thick);
    font-size              : var( --text-caption-1 );
    background-color       : hsl( var( --blue-900 ), 1 );
    color                  : hsl( var( --gray-50  ), 1 );
    margin                 : var( --line-semiBold );
    padding                : 0 var( --micro-1-2 );
    white-space            : break-spaces;
    --baseSize-h           : var( --micro-2-5 );
    --squishGrowth-h-start : 1000px;
    --squishGrowth-h-speed : 1;
    --squishGrowth-h-max   : var( --xTiny-2-4 );
}

.closeButton{
   --stroke       : var( --line-fine );
   --stroke-color : hsl( var( --blue-50 ), 1 );
   cursor         : pointer;
   place-self     : center;
}



@media screen and ( min-width : 1000px ){

    .closeButton{
        --stroke: var( --line-narrow );
    }

}