.navBar{
    display                : grid;
    grid-template-columns  : var( --xTiny-2-9 ) 1fr auto var( --xTiny-2-2 );
    background-color       : hsl( var( --gray-100 ), .88 );
    backdrop-filter        : blur( var( --line-fine ) );
    color                  : hsl( var( --yellow-100 ), 1 );
    --baseSize-h           : var( --xTiny-2-3 );
    --squishGrowth-h-start : 800px;
    --squishGrowth-h-speed : 5;
    --squishGrowth-h-max   : var( --tiny-1-4 );
    box-shadow             : hsl( var( --gray-950 ), .77 ) 0px var( --line-narrow ) var( --line-bold );
}

.icon{
    --color01  : hsl( var( --yellow-200 ), 1 );
    --color02  : hsl( var( --blue-900   ), 1 );
    grid-area  : 1/1/2/2;
    display    : block;
    place-self : center;
    max-width  : 77%;
    max-height : 77%;
}

.linkList{
    grid-area      : 1/3/2/4;
    display        : grid;
    grid-gap       : var( --xTiny-1-2 );
    grid-auto-flow : column;
}

.linkContainer{
    display     : grid;
    place-items : center;
    list-style  : none;
    font-size   : var( --text-widget-1 );
}

.link{
    text-decoration : none;
    color           : hsl( var( --gray-600 ), 1 );
    scale           : 1;
    transition      : 100ms ease-in-out;
}

.link:hover{
    scale : 1.2;
}

.active{
    color : hsl( var( --blue-600 ), 1 );
}