:root {
  --gray-50: 0, 0%, 97%;
  --gray-100: 0, 0%, 91%;
  --gray-200: 0, 0%, 87%;
  --gray-300: 0, 0%, 78%;
  --gray-400: 0, 0%, 69%;
  --gray-500: 0, 0%, 57%;
  --gray-600: 0, 0%, 46%;
  --gray-700: 0, 0%, 40%;
  --gray-800: 0, 0%, 33%;
  --gray-900: 0, 0%, 29%;
  --gray-950: 0, 0%, 17%;

  --blue-50: 201, 100%, 96%;
  --blue-100: 200, 100%, 91%;
  --blue-200: 199, 100%, 84%;
  --blue-300: 198, 100%, 73%;
  --blue-400: 199, 100%, 60%;
  --blue-500: 205, 100%, 51%;
  --blue-600: 213, 100%, 50%;
  --blue-700: 219, 100%, 50%;
  --blue-800: 219, 100%, 42%;
  --blue-900: 216, 100%, 34%;
  --blue-950: 217, 89%, 21%;

  --yellow-50: 48, 100%, 89%;
  --yellow-100: 47, 100%, 79%;
  --yellow-200: 47, 100%, 63%;
  --yellow-300: 45, 80%, 61%;
  --yellow-400: 43, 78%, 49%;
  --yellow-500: 37, 95%, 40%;
  --yellow-600: 31, 98%, 35%;
  --yellow-700: 25, 93%, 33%;
  --yellow-800: 22, 85%, 30%;
  --yellow-900: 21, 81%, 27%;
  --yellow-950: 20, 95%, 15%;

  --green-50: 90, 75%, 92%;
  --green-100: 93, 76%, 83%;
  --green-200: 94, 75%, 69%;
  --green-300: 96, 74%, 53%;
  --green-400: 99, 100%, 39%;
  --green-500: 106, 100%, 33%;
  --green-600: 109, 100%, 27%;
  --green-700: 109, 100%, 23%;
  --green-800: 108, 100%, 19%;
  --green-900: 108, 100%, 17%;
  --green-950: 113, 100%, 10%;

  --red-50: 0, 100%, 97%;
  --red-100: 0, 100%, 95%;
  --red-200: 0, 100%, 91%;
  --red-300: 0, 100%, 85%;
  --red-400: 0, 100%, 78%;
  --red-500: 0, 100%, 65%;
  --red-600: 0, 100%, 45%;
  --red-700: 0, 100%, 40%;
  --red-800: 0, 100%, 34%;
  --red-900: 0, 100%, 30%;
  --red-950: 0, 100%, 18%;
}
