.mainContainer{
    display: grid;
    place-items: center;
    padding: var(--xTiny-1-4) 0;
}

.searchLabel{
    display: grid;
    grid-template-columns: auto min-content;
    grid-gap: var(--line-narrow);
    --crushGap-w: var(--line-narrow);
    --baseSize-w: var(--loMed-2-8);
    --baseSize-h: var(--xTiny-1-5);
    --squishGrowth-h-start: 900px;
    --squishGrowth-h-speed: 2;
    --squishGrowth-h-max: var(--xTiny-2-3);
}

.searchBar{
    width: 100%;
    height: 100%;
    font-size: var(--text-widget-4);
    border: var(--line-fine) solid hsl(var(--gray-700), 1);
}

.searchBar:focus{
    outline: var(--line-fine) solid hsl(var(--blue-200), 1);
}

.searchButton{
    font-size: var(--text-widget-2);
    padding: var(--line-narrow) var(--line-bold);
    background-color: hsl(var(--gray-300), .77);
    color: hsl(var(--gray-800), 1);
    border: none;
    cursor: pointer;
}