.page{
    display        : grid;
    grid-auto-rows : auto;
    width          : 100%;
}

.contentContainer{
    display          : grid;
    align-items      : flex-start;
    justify-items    : center;
    background-color : hsl( var( --gray-200 ), 1 );
    padding          : var( --tiny-2-7 ) 0;
}

.contentList{
    --grid-cell-w: var(--small-1-3);
    display               : grid;
    width                 : 92%;
    justify-items         : center;
    grid-template-columns : repeat( auto-fill, minmax( var( --grid-cell-w ), 1fr ) );
    grid-gap              : var( --xTiny-2-3 );
}

@media screen and ( min-width: 400px ){

    .contentList{ --grid-cell-w : var( --loMed-2-3 ); }
    
}